div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #A5A5A5;
   background-image: url(images/proektyvanni_bkgrnd.png);
   background-repeat: repeat-x;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer1
{
   background-color: #45858C;
   background-image: none;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer2
{
   background-color: #45858C;
   background: linear-gradient(to top, #45858C 0%, #F2F2F2 100%);
   border: 1px solid #7F7F7F;
   margin: 0;
}
#Tabs1.ui-widget
{
   font-size: 1em !important;
}
#Tabs1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   padding: 4px 4px 4px 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 1.0;
   padding: 4px 4px 0px 4px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav li
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0px 2px -1px 0px;
   text-align: left;
}
#Tabs1 .ui-tabs-nav li a
{
   padding: 8px 10px 8px 10px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#Tabs1 .ui-helper-reset
{
   line-height: 22px;
}
#Tabs1 .ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border-color: #DDDDDD;
}
#Tabs1 .ui-widget-header
{
   border: 1px solid #DDDDDD;
   background-color: #E9E9E9;
   background-image: none;
}
#Tabs1 .ui-state-default, #Tabs1 .ui-widget-content .ui-state-default
{
   border-color: #C5C5C5;
   background-color: #F6F6F6;
   background-image: none;
}
#Tabs1 .ui-state-hover, #Tabs1 .ui-widget-content .ui-state-hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
}
#Tabs1 .ui-state-active, #Tabs1 .ui-widget-content .ui-state-active
{
   border-color: #4DB0AD;
   background-color: #4DB0AD;
   background-image: none;
}
#Tabs1 .ui-state-default a, #Tabs1 .ui-widget-content .ui-state-default a
{
   color: #454545;
}
#Tabs1 .ui-state-hover a, #Tabs1 .ui-widget-content .ui-state-hover a
{
   color: #2B2B2B;
}
#Tabs1 .ui-state-active a, #Tabs1 .ui-widget-content .ui-state-active a
{
   color: #FFFFFF;
}
#Tabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Tabs1 .description
{
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text10 div
{
   text-align: justify;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text11 div
{
   text-align: justify;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text12 div
{
   text-align: justify;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text13 div
{
   text-align: justify;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text14
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text14 p, #wb_Text14 ul
{
   margin: 0;
   padding: 0;
}
#Picture3
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture3:hover
{
   -webkit-transform: rotate(0deg) scale(2.0,2.0) ;
   -moz-transform: rotate(0deg) scale(2.0,2.0) ;
   transform: rotate(0deg) scale(2.0,2.0) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Picture4
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture4:hover
{
   -webkit-transform: rotate(0deg) scale(2.0,2.0) ;
   -moz-transform: rotate(0deg) scale(2.0,2.0) ;
   transform: rotate(0deg) scale(2.0,2.0) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text3 div
{
   text-align: justify;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text16 div
{
   text-align: justify;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text5 div
{
   text-align: justify;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text6 div
{
   text-align: justify;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text7
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text8
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text8 p, #wb_Text8 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text9 div
{
   text-align: justify;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text18 div
{
   text-align: justify;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text19 div
{
   text-align: justify;
}
#Picture7
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture7:hover
{
   -webkit-transform: rotate(0deg) scale(2.0,2.0) ;
   -moz-transform: rotate(0deg) scale(2.0,2.0) ;
   transform: rotate(0deg) scale(2.0,2.0) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Picture8
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture8:hover
{
   -webkit-transform: rotate(0deg) scale(2.0,2.0) ;
   -moz-transform: rotate(0deg) scale(2.0,2.0) ;
   transform: rotate(0deg) scale(2.0,2.0) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Picture9
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture9:hover
{
   -webkit-transform: rotate(0deg) scale(2.0,2.0) ;
   -moz-transform: rotate(0deg) scale(2.0,2.0) ;
   transform: rotate(0deg) scale(2.0,2.0) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Picture2
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture2:hover
{
   -webkit-transform: rotate(0deg) scale(2.0,2.0) ;
   -moz-transform: rotate(0deg) scale(2.0,2.0) ;
   transform: rotate(0deg) scale(2.0,2.0) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Picture5
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture5:hover
{
   -webkit-transform: rotate(0deg) scale(1.2,1.2) ;
   -moz-transform: rotate(0deg) scale(1.2,1.2) ;
   transform: rotate(0deg) scale(1.2,1.2) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#ThemeableButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   border-width: 2px;
}
#wb_ThemeableButton1
{
   border-radius: 4px;
   margin: 0;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   padding: 0;
   line-height: 40px;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   position: absolute;
   left: 15px;
   top: 50%;
   margin-top: -8px;
   color: #454545;
}
#wb_ThemeableButton1 .ui-primary:before
{
   content: "\f122";
}
#wb_ThemeableButton1:hover .ui-primary
{
   color: #2B2B2B;
}
#wb_ThemeableButton1:active .ui-primary
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Picture1
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture1:hover
{
   -webkit-transform: rotate(0deg) scale(1.5,1.5) ;
   -moz-transform: rotate(0deg) scale(1.5,1.5) ;
   transform: rotate(0deg) scale(1.5,1.5) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#Picture6
{
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Picture6:hover
{
   -webkit-transform: rotate(0deg) scale(1.5,1.5) ;
   -moz-transform: rotate(0deg) scale(1.5,1.5) ;
   transform: rotate(0deg) scale(1.5,1.5) ;
   -webkit-transition: -webkit-transform 500ms ease-out 0ms;
   -moz-transition: transform 500ms ease-out 0ms;
   transition: transform 500ms ease-out 0ms;
}
#ThemeableButton3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   border-width: 2px;
}
#wb_ThemeableButton3
{
   border-radius: 4px;
   margin: 0;
}
#wb_ThemeableButton3 .ui-button
{
   margin: 0;
   padding: 0;
   line-height: 38px;
}
#ThemeableButton3
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton3 :hover
{
   color: #2B2B2B;
}
#ThemeableButton3 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   position: absolute;
   left: 14px;
   top: 50%;
   margin-top: -9px;
   color: #454545;
}
#wb_ThemeableButton3 .ui-primary:before
{
   content: "\f1ea";
}
#wb_ThemeableButton3:hover .ui-primary
{
   color: #2B2B2B;
}
#wb_ThemeableButton3:active .ui-primary
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#ThemeableButton2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   opacity: 0.30;
   border-width: 2px;
   margin: 0;
}
#ThemeableButton2 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton2 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   position: absolute;
   left: 15px;
   top: 50%;
   margin-top: -8px;
   color: #454545;
}
#ThemeableButton2 .ui-primary:before
{
   content: "\f187";
}
#ThemeableButton2:hover .ui-primary
{
   color: #2B2B2B;
}
#ThemeableButton2:active .ui-primary
{
   color: #FFFFFF;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
